html.light {
  --background: #ffffff;
  --text: #333;
  --text-secondary: #555;
  --primary: #51b7ae;
  --secondary: #26a69a;
  --imsi: #edf7f6;
  --border: #bfbfbf;
}

html.dark {
  --background: #212222;
  --text: #eee;
  --text-secondary: #ccc;
  --primary: #26a69a;
  --imsi: #f2faf8;
  --secondary: #51b7ae;
  --border: #6f6f6f;
}

body {
  background-color: var(--background);
  color: var(--text);
}
